* {
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.head1 {
    background-color: pink;
    color: white;
}

.p1 {
    color: yellow;
}

.p2 {
    color: green;
    display: inline;
}

.p3 {
    color: cyan;
}

li {
    display: inline;
}

.border1 {
    background-color: white;
    border: 5px solid orange;
    height: 100px;
    padding-bottom: 50px;
}

.white {
    color:white;
}

